:root {
  --primaryBackground: hsl(233, 47%, 7%);
  --primaryCard: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);

  --white: #ffffff;
  --whiteMainParagraph: hsla(0, 0%, 100%, 0.75);
  --whiteStatHeading: hsla(0, 0%, 100%, 0.6);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

body {
  background: var(--primaryBackground);
  display: grid;
  place-items: center;
  height: 100vh;
}

@media (max-width: 768px) {
  body {
    height: auto;
  }
}

h1 {
  color: var(--white);
  font-size: clamp(1.8rem, 3.5vw, 2.4rem);
  font-weight: 700;
}

p {
  color: var(--whiteMainParagraph);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
}

span {
  font-size: inherit;
  font-weight: inherit;
  color: var(--accent);
}

.card {
  background: var(--primaryCard);
  max-width: 74rem;
  min-height: 446px;
  border-radius: 0.5em;
  margin: 5rem 1.6rem;
  overflow: hidden;
  text-align: left;
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 25rem;
    height: fit-content;
  }
}

.card-image-with-overlay {
  position: relative;
  display: grid;
  place-items: center;
  width: min(46vw, 540px);
}

.card-image-with-overlay .overlay {
  position: absolute;
  background-color: rgba(97, 3, 151, 0.53);
  width: 100%;
  height: 100%;
}

.card-image-with-overlay picture {
  height: 100%;
}

.card-image-with-overlay img {
  height: 100%;
}

@media (max-width: 768px) {
  .card-image-with-overlay {
    width: auto;
  }

  .card-image-with-overlay img {
    max-width: 100%;
  }
}

.textarea {
  display: flex;
  flex-direction: column;
  padding-top: 4.9rem;
  padding-bottom: 4rem;
  padding-left: clamp(2rem, 6.5vw, 5rem);
  padding-right: clamp(2rem, 9.5vw, 7.5rem);
  gap: clamp(1rem, 2vw, 1.65rem);
}

@media (max-width: 768px) {
  .textarea {
    padding: 2.5rem clamp(0.5rem, 7.5vw, 2.5rem);
    gap: 1rem;
  }
}

.stats-section {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  justify-content: space-between;
  max-width: 23.5rem;
  gap: 0.8rem;
}

@media (max-width: 768px) {
  .stats-section {
    flex-direction: column;
    margin-top: 1.8rem;
    gap: 2em;
  }
}

.stat h2 {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-bottom: 0.3rem;
}

.stat p {
  font-family: "Lexend Deca", sans-serif;
  color: var(--whiteStatHeading);
  font-size: 0.9rem;
  font-weight: 400;
}